@charset "UTF-8";

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ececec;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0D0D11;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 500;
  line-height: 2.625rem;
  text-transform: uppercase;
}

.text {
  line-height: 1.375rem;
}

.button {
  background-color: rgb(194, 45, 45);
  padding: 1.25rem 2.5rem;
  line-height: 150%;
  border-radius: 2.5rem;
  display: inline-block;
  line-height: 1.25rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title-column {
  font-weight: 500;
  line-height: 1.75rem;
}

.icon-menu {
  display: none;
}

.menu__body {
  display: none;
}

.menu__body::before {
  content: "";
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #1a1a1b;
  z-index: 2;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
  transition: left 0.4s ease-in-out 0s;
}

.menu__item {
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.menu__link {
  font-size: 1.75rem;
  display: block;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0D0D11;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  width: 11.25rem;
  position: relative;
  z-index: 2;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav-item {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.125rem;
  background-color: rgb(255, 68, 68);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__nav-link {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__nav-link--active {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.header__nav-link--active::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: rgb(255, 68, 68);
}

.header__phone-wrap {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__phone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__facebook-img {
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.footer__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.hero__general-title {
  display: none;
}

.hero__title {
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 2.625rem;
}

.hero__part-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.hero__part-image img {
  width: 100%;
  border-radius: 1.25rem;
}

.sale__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.sale__part-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.sale__image {
  width: 100%;
  border-radius: 1.25rem;
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1, 1fr);
}

.why__column {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.realization__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realization__part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.realization__part-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.realization__image {
  width: 100%;
  border-radius: 1.25rem;
}

.offer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1, 1fr);
}

.offer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #fff;
}

.offer__column::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 1.875rem;
}

.no-webp .offer__column-cook{
  background: url(../img/offer01.jpg) center/cover no-repeat; }

.no-webp .offer__column-bathroom{
  background: url(../img/offer02.jpg) center/cover no-repeat; }

.no-webp .offer__column-wardrobe{
  background: url(../img/offer03.jpg) center/cover no-repeat; }

.no-webp .offer__column-instruments{
  background: url(../img/offer04.jpg) center/cover no-repeat; }

.offer__column-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ececec;
  font-weight: 500;
  z-index: 2;
}

.offer__column-title {
  z-index: 2;
}

.instruments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 81.875em) {
  .title {
    font-size: 2.625rem;
  }

  .text {
    font-size: 1rem;
  }

  .title-column {
    font-size: 1.75rem;
  }

  .menu__body::before {
    height: 5.9375rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__nav-list {
    gap: 1.875rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .hero {
    padding-top: 13.4375rem;
  }

  .hero {
    padding-bottom: 7.5rem;
  }

  .hero__container {
    gap: 2.5rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .sale {
    padding-top: 7.5rem;
  }

  .sale {
    padding-bottom: 7.5rem;
  }

  .sale__container {
    gap: 2.5rem;
  }

  .sale__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .sale__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .why {
    padding-top: 7.5rem;
  }

  .why {
    padding-bottom: 7.5rem;
  }

  .why__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .why__columns {
    gap: 2.1875rem;
  }

  .why__column {
    padding: 1.875rem;
  }

  .why__column {
    gap: 1.25rem;
  }

  .realization {
    padding-top: 7.5rem;
  }

  .realization {
    padding-bottom: 7.5rem;
  }

  .realization__container {
    gap: 2.5rem;
  }

  .realization__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .realization__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .offer {
    padding-top: 13.4375rem;
  }

  .offer {
    padding-bottom: 7.5rem;
  }

  .offer__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .offer__columns {
    gap: 2.1875rem;
  }

  .offer__column {
    padding-top: 6.25rem;
  }

  .offer__column {
    padding-right: 1.875rem;
  }

  .offer__column {
    padding-bottom: 6.25rem;
  }

  .offer__column {
    padding-left: 1.875rem;
  }

  .offer__column {
    gap: 1.25rem;
  }

  .offer__column-text-wrap {
    gap: 0.625rem;
  }

  .instruments {
    padding-top: 7.5rem;
  }

  .instruments {
    padding-bottom: 7.5rem;
  }

  .instruments__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .instruments__list {
    gap: 1.875rem;
  }

  .instruments__images {
    width: 12.5rem;
  }
}

@media (max-width: 837.98px) {
  .menu__body {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a1a1b;
    left: -100%;
    top: 0;
    padding: 9.375rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.4s ease-in-out 0s;
    -o-transition: left 0.4s ease-in-out 0s;
    transition: left 0.4s ease-in-out 0s;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .text {
    font-size: 0.875rem;
  }

  .title-column {
    font-size: 1.625rem;
  }

  .menu__body::before {
    height: 4.8125rem;
  }

  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .header__nav-list {
    gap: 0.9375rem;
  }

  .footer {
    padding-top: 0.625rem;
  }

  .footer {
    padding-bottom: 0.625rem;
  }

  .hero {
    padding-top: 6.0625rem;
  }

  .hero {
    padding-bottom: 1.25rem;
  }

  .hero__container {
    gap: 1.25rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .sale {
    padding-top: 1.25rem;
  }

  .sale {
    padding-bottom: 1.25rem;
  }

  .sale__container {
    gap: 1.25rem;
  }

  .sale__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .sale__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .why {
    padding-top: 1.25rem;
  }

  .why {
    padding-bottom: 1.25rem;
  }

  .why__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .why__columns {
    gap: 1.25rem;
  }

  .why__column {
    padding: 1.25rem;
  }

  .why__column {
    gap: 0.9375rem;
  }

  .realization {
    padding-top: 1.25rem;
  }

  .realization {
    padding-bottom: 1.25rem;
  }

  .realization__container {
    gap: 1.25rem;
  }

  .realization__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .realization__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .offer {
    padding-top: 6.0625rem;
  }

  .offer {
    padding-bottom: 1.25rem;
  }

  .offer__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .offer__columns {
    gap: 1.25rem;
  }

  .offer__column {
    padding-top: 3.125rem;
  }

  .offer__column {
    padding-right: 1.25rem;
  }

  .offer__column {
    padding-bottom: 3.125rem;
  }

  .offer__column {
    padding-left: 1.25rem;
  }

  .offer__column {
    gap: 0.9375rem;
  }

  .offer__column-text-wrap {
    gap: 0.3125rem;
  }

  .instruments {
    padding-top: 1.25rem;
  }

  .instruments {
    padding-bottom: 1.25rem;
  }

  .instruments__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .instruments__list {
    gap: 1.25rem;
  }

  .instruments__images {
    width: 5rem;
  }
}

@media (max-width: 63.99875em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sale__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .realization__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .offer__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 57.49875em) {
  .why__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 52.37375em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__nav {
    display: none;
  }

  .header__phone-wrap {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: end;
    padding-right: 1.875rem;
    position: relative;
    z-index: 7;
  }
}

@media (max-width: 52.37375em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 42.37375em) {
  .why__columns {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 40.62375em) {
  .offer__columns {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 30.49875em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
  }
}

@media (max-width: 22.5em) {
  .header__phone-wrap {
    padding-right: 0rem;
    text-align: center;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 1.875rem , 1.6325757576rem  +  1.2121212121vw , 2.625rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.6325757576rem  +  1.2121212121vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6325757576rem  +  1.2121212121vw , 2.625rem )) {
    .title {
      font-size: calc(1.875rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .text {
      font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.625rem , 1.5845959596rem  +  0.202020202vw , 1.75rem )) {
    .title-column {
      font-size: clamp( 1.625rem , 1.5845959596rem  +  0.202020202vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.5845959596rem  +  0.202020202vw , 1.75rem )) {
    .title-column {
      font-size: calc(1.625rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (height: clamp( 4.8125rem , 4.4488636364rem  +  1.8181818182vw , 5.9375rem )) {
    .menu__body::before {
      height: clamp( 4.8125rem , 4.4488636364rem  +  1.8181818182vw , 5.9375rem );
    }
}

@supports not (height: clamp( 4.8125rem , 4.4488636364rem  +  1.8181818182vw , 5.9375rem )) {
    .menu__body::before {
      height: calc(4.8125rem + 1.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .header {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .header__nav-list {
      gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .header__nav-list {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .footer {
      padding-top: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .footer {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .footer {
      padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .footer {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 6.0625rem , 3.6786616162rem  +  11.9191919192vw , 13.4375rem )) {
    .hero {
      padding-top: clamp( 6.0625rem , 3.6786616162rem  +  11.9191919192vw , 13.4375rem );
    }
}

@supports not (padding-top: clamp( 6.0625rem , 3.6786616162rem  +  11.9191919192vw , 13.4375rem )) {
    .hero {
      padding-top: calc(6.0625rem + 7.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .hero {
      padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .hero {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .hero__container {
      gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .hero__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .sale {
      padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .sale {
      padding-top: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .sale {
      padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .sale {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .sale__container {
      gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .sale__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem )) {
    .sale__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem )) {
    .sale__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .sale__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .sale__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .why {
      padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .why {
      padding-top: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .why {
      padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .why {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .why__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .why__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.946969697rem  +  1.5151515152vw , 2.1875rem )) {
    .why__columns {
      gap: clamp( 1.25rem , 0.946969697rem  +  1.5151515152vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.946969697rem  +  1.5151515152vw , 2.1875rem )) {
    .why__columns {
      gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .why__column {
      padding: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
    }
}

@supports not (padding: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .why__column {
      padding: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .why__column {
      gap: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .why__column {
      gap: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .realization {
      padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .realization {
      padding-top: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .realization {
      padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .realization {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .realization__container {
      gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .realization__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem )) {
    .realization__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.321969697rem  +  1.5151515152vw , 1.5625rem )) {
    .realization__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .realization__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .realization__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 6.0625rem , 3.6786616162rem  +  11.9191919192vw , 13.4375rem )) {
    .offer {
      padding-top: clamp( 6.0625rem , 3.6786616162rem  +  11.9191919192vw , 13.4375rem );
    }
}

@supports not (padding-top: clamp( 6.0625rem , 3.6786616162rem  +  11.9191919192vw , 13.4375rem )) {
    .offer {
      padding-top: calc(6.0625rem + 7.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .offer {
      padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .offer {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .offer__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .offer__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.946969697rem  +  1.5151515152vw , 2.1875rem )) {
    .offer__columns {
      gap: clamp( 1.25rem , 0.946969697rem  +  1.5151515152vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.946969697rem  +  1.5151515152vw , 2.1875rem )) {
    .offer__columns {
      gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .offer__column {
      padding-top: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .offer__column {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .offer__column {
      padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .offer__column {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .offer__column {
      padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .offer__column {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .offer__column {
      padding-left: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .offer__column {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .offer__column {
      gap: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .offer__column {
      gap: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.3125rem , 0.211489899rem  +  0.5050505051vw , 0.625rem )) {
    .offer__column-text-wrap {
      gap: clamp( 0.3125rem , 0.211489899rem  +  0.5050505051vw , 0.625rem );
    }
}

@supports not (gap: clamp( 0.3125rem , 0.211489899rem  +  0.5050505051vw , 0.625rem )) {
    .offer__column-text-wrap {
      gap: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .instruments {
      padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .instruments {
      padding-top: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .instruments {
      padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7702020202rem  +  10.101010101vw , 7.5rem )) {
    .instruments {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .instruments__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .instruments__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .instruments__list {
      gap: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .instruments__list {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (width: clamp( 5rem , 2.5757575758rem  +  12.1212121212vw , 12.5rem )) {
    .instruments__images {
      width: clamp( 5rem , 2.5757575758rem  +  12.1212121212vw , 12.5rem );
    }
}

@supports not (width: clamp( 5rem , 2.5757575758rem  +  12.1212121212vw , 12.5rem )) {
    .instruments__images {
      width: calc(5rem + 7.5 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .header__nav-item:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
  }

  .footer__link:hover {
    color: rgb(255, 68, 68);
  }

  .footer__facebook-img:hover {
    background-color: #3f3f3f;
  }

  .button:hover {
    background-color: #cfcfcf;
    color: #1b1b1b;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.webp .offer__column-cook{ background: url(../img/offer01.webp) center/cover no-repeat; }

.webp .offer__column-bathroom{ background: url(../img/offer02.webp) center/cover no-repeat; }

.webp .offer__column-wardrobe{ background: url(../img/offer03.webp) center/cover no-repeat; }

.webp .offer__column-instruments{ background: url(../img/offer04.webp) center/cover no-repeat; }