@charset "UTF-8";

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #f8f8f8;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  text-rendering: optimizeSpeed;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #111827;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #1c2331;
  padding: 1.25rem;
  width: 100%;
  max-width: 56.25rem;
  border-radius: 1.25rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  background-color: rgb(194, 45, 45);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.3125rem 0.625rem;
  border-radius: 3.125rem;
  -webkit-transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
  -o-transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 0.1875rem;
  background-color: inherit;
}

.container form .descr {
  font-size: 1.25rem;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 1.5625rem;
  margin-top: 1.5625rem;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input,
textarea {
  margin: 1em 0 1em 0;
  width: 18.75rem;
  position: relative;
}

.input input,
textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 0.125rem solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid) ~ label {
  -webkit-transform: translateY(-50%) scale(0.9);
      -ms-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  -webkit-transform: translateY(-50%) scale(0.9);
      -ms-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
  color: #e8e8e8;
  font-size: 0.9375rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 3.125rem;
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

[data-showmore-button] {
  position: relative;
  color: rgba(255, 255, 255, 0.4039215686);
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[data-showmore-button]:not(:first-child) {
  margin-top: 0.125rem;
}

[data-showmore-button]::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.4039215686);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(120%);
      -ms-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: opacity 1.5s ease 0s, -webkit-transform 1.5s ease 0s;
  transition: opacity 1.5s ease 0s, -webkit-transform 1.5s ease 0s;
  -o-transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
  transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
  transition: opacity 1.5s ease 0s, transform 1.5s ease 0s, -webkit-transform 1.5s ease 0s;
}

.title span {
  color: rgb(255, 49, 49);
}

.text {
  font-weight: 400;
  line-height: 1.375rem;
}

.button {
  background-color: rgb(194, 45, 45);
  border-radius: 2.5rem;
  display: inline-block;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: -2px 4px 5px -2px rgba(0, 0, 0, 0.85);
          box-shadow: -2px 4px 5px -2px rgba(0, 0, 0, 0.85);
  -webkit-transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
  -o-transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
}

.title-column {
  font-weight: 500;
  line-height: 1.75rem;
}

.icon-menu {
  display: none;
}

.menu__body {
  display: none;
}

.menu__body::before {
  content: "";
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #182438;
  -webkit-box-shadow: -2px 4px 5px -2px rgba(0, 0, 0, 0.85);
          box-shadow: -2px 4px 5px -2px rgba(0, 0, 0, 0.85);
  z-index: 2;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
  transition: left 0.4s ease-in-out 0s;
}

.menu__item {
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.menu__link {
  font-size: 1.75rem;
  display: block;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.header {
  -webkit-box-shadow: -0.125rem 0.25rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.85);
          box-shadow: -0.125rem 0.25rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.85);
  background-color: rgba(25, 36, 58, 0.937254902);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 11.25rem;
  position: relative;
  z-index: 2;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav-item {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.125rem;
  background-color: rgb(255, 68, 68);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__nav-link {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__phone-wrap {
  display: none;
}

.header__phone-icon {
  width: 2.5rem;
}

.footer {
  background-color: #1d2432;
  -webkit-box-shadow: 0px -4px 5px -2px rgba(0, 0, 0, 0.59);
          box-shadow: 0px -4px 5px -2px rgba(0, 0, 0, 0.59);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  font-style: normal;
}

.footer__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__phone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__facebook-img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(163, 163, 172, 0.5411764706);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(34, 60, 80, 0.5607843137);
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__general-title {
  display: none;
}

.hero__part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.hero__button:not(:first-child) {
  margin-top: 1.25rem;
}

.hero__part-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.hero__image {
  width: 100%;
  height: auto;
  border-radius: 0.9375rem;
}

._watcher-view {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.sale__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.sale__part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.sale__button:not(:first-child) {
  margin-top: 1.25rem;
}

.sale__part-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.sale__image {
  width: 100%;
  height: auto;
  border-radius: 0.9375rem;
}

.meble__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.meble__part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.meble__button:not(:first-child) {
  margin-top: 1.25rem;
}

.meble__part-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.meble__image {
  width: 100%;
  height: auto;
  border-radius: 0.9375rem;
}

.why {
  text-align: center;
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.why__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  -webkit-box-shadow: -2px 4px 5px -2px rgba(0, 0, 0, 0.85);
          box-shadow: -2px 4px 5px -2px rgba(0, 0, 0, 0.85);
}

.why__column-image {
  margin: 0 auto;
}

.offer__title {
  text-align: center;
}

.offer__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.offer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  border-radius: 1.25rem;
  position: relative;
  -webkit-box-shadow: -0.3125rem 0.3125rem 0.375rem -0.125rem rgba(0, 0, 0, 0.63);
          box-shadow: -0.3125rem 0.3125rem 0.375rem -0.125rem rgba(0, 0, 0, 0.63);
  z-index: 1;
}

.offer__column::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  background-color: rgba(0, 0, 0, 0.6117647059);
  z-index: 2;
}

.offer__column-title {
  z-index: 3;
}

.offer__column-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  z-index: 3;
}

.offer__column-cook {
  background: url(../img/offer01.webp) center/cover no-repeat;
}

.offer__column-bathroom {
  background: url(../img/offer02.webp) center/cover no-repeat;
}

.offer__column-wardrobe {
  background: url(../img/offer03.webp) center/cover no-repeat;
}

.offer__column-instruments {
  background: url(../img/offer04.webp) center/cover no-repeat;
}

.instruments__title {
  text-align: center;
}

.instruments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.instruments__images {
  height: auto;
}

.realization__container {
  text-align: center;
}

.realization__content-wrap:not(:last-child) {
  margin-bottom: 1.25rem;
}

.realization__slide img {
  width: 100%;
  height: auto;
  border-radius: 0.9375rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-bullet {
  color: #fff;
}

.swiper-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 55px;
  height: 55px;
  margin-top: 20px;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 100%;
  height: auto;
}

@media (min-width: 81.875em) {
  .title {
    line-height: 2.5rem;
  }

  .title {
    font-size: 2.375rem;
  }

  .title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .button {
    padding-top: 1.25rem;
  }

  .button {
    padding-bottom: 1.25rem;
  }

  .button {
    padding-left: 1.875rem;
  }

  .button {
    padding-right: 1.875rem;
  }

  .button {
    font-size: 1rem;
  }

  .title-column {
    font-size: 1.5rem;
  }

  .menu__body::before {
    height: 4.5rem;
  }

  .header {
    padding-top: 0.8125rem;
  }

  .header {
    padding-bottom: 0.8125rem;
  }

  .header__nav-list {
    gap: 1.875rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .hero {
    padding-top: 9.375rem;
  }

  .hero {
    padding-bottom: 3.125rem;
  }

  .hero__container {
    gap: 2.5rem;
  }

  .sale {
    padding-top: 3.125rem;
  }

  .sale {
    padding-bottom: 3.125rem;
  }

  .sale__container {
    gap: 2.5rem;
  }

  .meble {
    padding-top: 3.125rem;
  }

  .meble {
    padding-bottom: 3.125rem;
  }

  .meble__container {
    gap: 2.5rem;
  }

  .why {
    padding-top: 3.125rem;
  }

  .why {
    padding-bottom: 3.125rem;
  }

  .why__columns {
    gap: 1.875rem;
  }

  .why__column {
    gap: 1.25rem;
  }

  .why__column {
    padding-top: 4.375rem;
  }

  .why__column {
    padding-bottom: 4.375rem;
  }

  .offer {
    padding-top: 3.125rem;
  }

  .offer {
    padding-bottom: 3.125rem;
  }

  .offer__columns {
    gap: 1.875rem;
  }

  .offer__column {
    min-height: 17.5rem;
  }

  .offer__column {
    gap: 1.875rem;
  }

  .instruments {
    padding-top: 3.125rem;
  }

  .instruments {
    padding-bottom: 3.125rem;
  }

  .instruments__images {
    width: 12.5rem;
  }

  .realization {
    padding-top: 3.125rem;
  }

  .realization {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 414.98px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 35px;
    height: 35px;
    margin-top: 10px;
  }
}

@media (max-width: 20em) {
  .title {
    line-height: 1.875rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .button {
    padding-top: 0.9375rem;
  }

  .button {
    padding-bottom: 0.9375rem;
  }

  .button {
    padding-left: 1.25rem;
  }

  .button {
    padding-right: 1.25rem;
  }

  .button {
    font-size: 0.875rem;
  }

  .title-column {
    font-size: 1.25rem;
  }

  .menu__body::before {
    height: 4.1875rem;
  }

  .header {
    padding-top: 0.5rem;
  }

  .header {
    padding-bottom: 0.5rem;
  }

  .header__nav-list {
    gap: 0.9375rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .hero {
    padding-top: 5.9375rem;
  }

  .hero {
    padding-bottom: 1.25rem;
  }

  .hero__container {
    gap: 1.25rem;
  }

  .sale {
    padding-top: 1.25rem;
  }

  .sale {
    padding-bottom: 1.25rem;
  }

  .sale__container {
    gap: 1.25rem;
  }

  .meble {
    padding-top: 1.25rem;
  }

  .meble {
    padding-bottom: 1.25rem;
  }

  .meble__container {
    gap: 1.25rem;
  }

  .why {
    padding-top: 1.25rem;
  }

  .why {
    padding-bottom: 1.25rem;
  }

  .why__columns {
    gap: 0.9375rem;
  }

  .why__column {
    gap: 0.625rem;
  }

  .why__column {
    padding-top: 1.875rem;
  }

  .why__column {
    padding-bottom: 1.875rem;
  }

  .offer {
    padding-top: 1.25rem;
  }

  .offer {
    padding-bottom: 1.25rem;
  }

  .offer__columns {
    gap: 0.9375rem;
  }

  .offer__column {
    min-height: 11.875rem;
  }

  .offer__column {
    gap: 0.9375rem;
  }

  .instruments {
    padding-top: 1.25rem;
  }

  .instruments {
    padding-bottom: 1.25rem;
  }

  .instruments__images {
    width: 4.375rem;
  }

  .realization {
    padding-top: 1.25rem;
  }

  .realization {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 63.99875em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .hero__part-text {
    margin: 0 auto;
  }

  .hero__image {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .sale__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .sale__part-text {
    margin: 0 auto;
  }

  .meble__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .meble__part-text {
    margin: 0 auto;
  }

  .offer__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 58.49875em) {
  .why__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #f8f8f8;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1d2432;
    left: -100%;
    top: 0;
    padding: 9.375rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.4s ease-in-out 0s;
    -o-transition: left 0.4s ease-in-out 0s;
    transition: left 0.4s ease-in-out 0s;
  }

  .header__nav-list {
    display: none;
  }

  .header__phone-wrap {
    display: inline-block;
    z-index: 2;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__phone-wrap {
    padding-right: 1.25rem;
  }
}

@media (max-width: 39.12375em) {
  .why__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 35.49875em) {
  .offer__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
}

@media (max-width: 26.56125em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (line-height: clamp( 1.875rem , 1.672979798rem  +  1.0101010101vw , 2.5rem )) {
    .title {
      line-height: clamp( 1.875rem , 1.672979798rem  +  1.0101010101vw , 2.5rem );
    }
}

@supports not (line-height: clamp( 1.875rem , 1.672979798rem  +  1.0101010101vw , 2.5rem )) {
    .title {
      line-height: calc(1.875rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2171717172rem  +  1.4141414141vw , 2.375rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.2171717172rem  +  1.4141414141vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2171717172rem  +  1.4141414141vw , 2.375rem )) {
    .title {
      font-size: calc(1.5rem + 0.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .button {
      padding-top: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .button {
      padding-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .button {
      padding-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .button {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .button {
      padding-left: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .button {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .button {
      padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .button {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .button {
      font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .button {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1691919192rem  +  0.404040404vw , 1.5rem )) {
    .title-column {
      font-size: clamp( 1.25rem , 1.1691919192rem  +  0.404040404vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1691919192rem  +  0.404040404vw , 1.5rem )) {
    .title-column {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (height: clamp( 4.1875rem , 4.086489899rem  +  0.5050505051vw , 4.5rem )) {
    .menu__body::before {
      height: clamp( 4.1875rem , 4.086489899rem  +  0.5050505051vw , 4.5rem );
    }
}

@supports not (height: clamp( 4.1875rem , 4.086489899rem  +  0.5050505051vw , 4.5rem )) {
    .menu__body::before {
      height: calc(4.1875rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.398989899rem  +  0.5050505051vw , 0.8125rem )) {
    .header {
      padding-top: clamp( 0.5rem , 0.398989899rem  +  0.5050505051vw , 0.8125rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.398989899rem  +  0.5050505051vw , 0.8125rem )) {
    .header {
      padding-top: calc(0.5rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.398989899rem  +  0.5050505051vw , 0.8125rem )) {
    .header {
      padding-bottom: clamp( 0.5rem , 0.398989899rem  +  0.5050505051vw , 0.8125rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.398989899rem  +  0.5050505051vw , 0.8125rem )) {
    .header {
      padding-bottom: calc(0.5rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .header__nav-list {
      gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .header__nav-list {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .footer {
      padding-top: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .footer {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 5.9375rem , 4.8263888889rem  +  5.5555555556vw , 9.375rem )) {
    .hero {
      padding-top: clamp( 5.9375rem , 4.8263888889rem  +  5.5555555556vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5.9375rem , 4.8263888889rem  +  5.5555555556vw , 9.375rem )) {
    .hero {
      padding-top: calc(5.9375rem + 3.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .hero {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .hero {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .hero__container {
      gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .hero__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .sale {
      padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .sale {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .sale {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .sale {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .sale__container {
      gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .sale__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .meble {
      padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .meble {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .meble {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .meble {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .meble__container {
      gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .meble__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .why {
      padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .why {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .why {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .why {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .why__columns {
      gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .why__columns {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .why__column {
      gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .why__column {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .why__column {
      padding-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .why__column {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .why__column {
      padding-bottom: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .why__column {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .offer {
      padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .offer {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .offer {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .offer {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .offer__columns {
      gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .offer__columns {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (min-height: clamp( 11.875rem , 10.0568181818rem  +  9.0909090909vw , 17.5rem )) {
    .offer__column {
      min-height: clamp( 11.875rem , 10.0568181818rem  +  9.0909090909vw , 17.5rem );
    }
}

@supports not (min-height: clamp( 11.875rem , 10.0568181818rem  +  9.0909090909vw , 17.5rem )) {
    .offer__column {
      min-height: calc(11.875rem + 5.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .offer__column {
      gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .offer__column {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .instruments {
      padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .instruments {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .instruments {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .instruments {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (width: clamp( 4.375rem , 1.7487373737rem  +  13.1313131313vw , 12.5rem )) {
    .instruments__images {
      width: clamp( 4.375rem , 1.7487373737rem  +  13.1313131313vw , 12.5rem );
    }
}

@supports not (width: clamp( 4.375rem , 1.7487373737rem  +  13.1313131313vw , 12.5rem )) {
    .instruments__images {
      width: calc(4.375rem + 8.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .realization {
      padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .realization {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem )) {
    .realization {
      padding-bottom: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem )) {
    .realization {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 81.875em) {
  .header__phone-wrap {
    padding-right: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 81.875em) {
@supports (padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .header__phone-wrap {
      padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem )) {
    .header__phone-wrap {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .header__nav-item:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
  }

  .header__nav-link:focus {
    color: rgb(255, 94, 94);
  }

  .button:focus,
  .button:hover {
    background-color: #cfcfcf;
    color: #111827;
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }

  .footer__link:focus,
  .footer__link:hover {
    color: rgb(255, 68, 68);
  }

  .footer__facebook-img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .popup__close:hover {
    background-color: #cfcfcf;
    color: #111827;
  }
}